body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.full-page-word {
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: bold;
    writing-mode: horizontal-tb;
}

.word-icon {
    width: 1em; /* Icon size relative to the font size */
    height: 1em; /* Keep the icon square */
    vertical-align: -0.1em; /* Adjust this value to align the icon vertically */
}

@media screen and (max-width: 600px) {
    .full-page-word {
        writing-mode: vertical-rl;
        font-size: 20vh;
    }
}


/* Animation keyframes */
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Class to apply animation */
.animate-grow {
    animation: grow 0.5s ease-out;
}
